<ul>
  <h3>記事を更新</h3>
  <form method="post" action="/admin/edit">
    <input type="text" name="id" value="1">
    <input type="text" name="title" value="asdfasfds">
    <input type="text" name="body" value="asdfasdf">
    <input type="text" name="tag" value="asdfasdf">
    <input type="value" name="thumbnail" value="test">
    <input type="text" name="update_member" value="test">
    <input type="submit" value="更新">
  </form>
</ul>

<ul>
  <h3>記事を削除</h3>
  <input id="deleteIndex" type="text" name="id" value="1">
  <span class="deleteBtn"><button>削除</button></span>
  </form>
</ul>

<script>
  $('.deleteBtn').click(function() {
      var el = $('#deleteIndex');
      if (confirm('削除しますか？')) {
          $.post('/admin/delete', {
              id: el.val()
          }, function() {
          });
      }
  })
</script>