<ul>
  <h3>記事を追加</h3>
  <form method="post" action="/admin/new">
    <input type="text" name="title" value="test">
    <!-- wysiwyg -->
    <textarea name="body">testtest</textarea>
    <input type="text" name="tag" value="test">
    <input type="value" name="thumbnail" value="test">
    <input type="text" name="update_member" value="test">
    <input type="submit" value="追加">
  </form>
</ul>

<!-- CDN hosted by Cachefly -->
<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
<script>tinymce.init({selector:'textarea'});</script>