<ul>
  <h3>記事を投稿</h3>
  <form id="article-form" method="post" action="/admin/new" enctype="multipart/form-data">
    <div class="form-group">
      <label>記事タイトル</label>
      <input id="title" class="form-control" type="text" name="title" value="" placeholder="Title">
    </div>

    <div class="form-group">
      <label>本文</label>
      <textarea id="editor" class="form-control"></textarea>
      <textarea id="body" name="body"></textarea>
      <div id="pre-body" name=body></div>
      <!-- <textarea id="body" name="body"></textarea> -->
    </div>
    <div class="form-group">
      <label>タグ</label>
      <input class="form-control" type="text" name="tag" value="" placeholder="Tag">
    </div>
    <div class="form-group">
      <label>サムネイル</label>
      <input class="form-control" type="file" name="thumbnail" value="" placeholder="Thumbnail">
    </div>
    <div class="form-group">
      <label>投稿者</label>
      <input class="form-control" type="text" name="update_member" value="" placeholder="Name">
    </div>
    <button type="submit" class="validate btn btn-default">投稿</button>
  </form>
</ul>

<!-- CDN hosted by Cachefly -->
<script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(function() {
    marked.setOptions({
      langPrefix: ''
    });
    $('#editor').keyup(function() {
      var src = $(this).val();
      var html = marked(src);
      $('#body').html(html);
      $('#pre-body').html(html);
      $('pre code').each(function(i, block) {
          hljs.highlightBlock(block);
      });
    });
  });

  $(".validate").click(function() {
    if ($("#title").val() == "" || $("#body").val() == "") {
      if($("#title").val() == ""){
        if(!($("#title").parent().find('.title-error-msg').length)){
          $("#title").parent().append('<p class="title-error-msg">タイトルは必須項目です</p>');
          $("#title").parent().addClass('has-error');
        }
      }else{
        if($("#title").parent().find('.title-error-msg').length){
          $(".title-error-msg").remove();
          $("#title").parent().removeClass('has-error');
        }
      }
      if($("#body").val() == ""){
        //すでにあるかどうかを確認する
        if(!($("#body").parent().find('.body-error-msg').length)){
          $("#body").parent().append('<p class="body-error-msg">本文は必須項目です</p>');
          $("#body").parent().addClass('has-error');
        }
      }else{
        if($("#body").parent().find('.body-error-msg').length){
          $(".body-error-msg").remove();
          $("#body").parent().removeClass('has-error');
        }
      }
      return false;
    }
  });

  $('#editor').bind('drop', function(e){
    $('#editor').css({"border":"" , "background-color":""});
    e.preventDefault();
    var files = e.originalEvent.dataTransfer.files;
    uploadFiles(files);
  }).bind('dragenter', function(){
    return false;
  }).bind('dragover', function(){
    $('#editor').css({"border":"3px #ccffcc dotted" , "background-color":"#eeffee"});
    return false;
  }).bind('dragleave', function(){
    $('#editor').css({"border":"" , "background-color":""});
    return false;
  });

  function uploadFiles(files) {
    var fd = new FormData();
    var filesLength = files.length;
    for (var i = 0; i < filesLength; i++) {
      fd.append("files", files[i]);
    }

    $.ajax({
      url: '/admin/upload',
      type: 'POST',
      data: fd,
      processData: false,
      contentType: false,
    }).done(function(data, status, xhr) {
      insertAtCaret('#editor', '![](/uploads/img/)');
      return false;
    });
  };

  function insertAtCaret(target, str) {
    var obj = $(target);
    obj.focus();
    if(navigator.userAgent.match(/MSIE/)) {
      var r = document.selection.createRange();
      r.text = str;
      r.select();
    } else {
      var s = obj.val();
      var p = obj.get(0).selectionStart;
      var np = p + str.length;
      obj.val(s.substr(0, p) + str + s.substr(p));
      obj.get(0).setSelectionRange(np, np);
    }
  };
});
</script>
